@model List<Location>

<div align="center">
    <h1>Locations</h1>
    <br>
    <form action="/Home/CreateLocation" method="post" autocomplete="off">
        <input type="text" name="Name" placeholder="Location">
        <button>Ekle</button>
    </form>
</div>
<ul>
    @foreach (var locations in Model)
    {
    <hr>
    <li>@locations.Name</li>
    <hr>
    }
</ul>